body {
    background-color: #0f0f0f; 
    margin:0;
}
h1 {
    font-family: 'cursive';
    font-variant: small-caps; 
    font-weight: 400; 
    letter-spacing: 1px; 
    font-size: 48px;
    position: relative
}
.btn {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 50;
    margin-bottom: 15px;
    padding: 0.7em 1.4em;
    text-decoration: none;
    text-transform: uppercase; 
    font-family: 'Cursive', 
    sans-serif; font-weight: 50;
    border-radius: 5px;
    border: 1px solid white;
}
.btn:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.3s;
}
.inputs {
    width: 15em; 
    height: 2.3em;
    border-radius: 20px;
    margin: 5px;
    padding-left: 10px;
    background: whitesmoke;
    color: black;
    border: 5px solid white;
}
.inputs:hover {
    transition: 1;
    border-radius: 8px;
}
.header {
    position: relative;
    text-align: center;
    background: #0f0f0f;
    color: white;
}
.inner-header {
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    width: 350px;
    /* box-shadow: 0px 5px 25px 1px black; */
    border-radius: 5px; 
    margin: 20px;
}
.ir-login {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.ir-login:hover {
    color: grey;
}
.texto-login {
    margin-top: 15px;
}


.flexx {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field input {
    /* margin: 10px 0; */
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #661515;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, transparent 96%, #661515 4%);
    background: -webkit-linear-gradient(to bottom, transparent 96%, #661515 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: white;
  }
  
  .input-field input:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    margin: 10px 0;
  }
  
  .input-field label {
    color: white;
    font-size: 105%;
    position: absolute;
    top: 12px;
    transition: .2s ease-out;
  } 